body {
    margin: 0;
    padding: 0;
    background: #EBB3A9;
    font-family: 'Anton', sans-serif;
}

.wrapper {
    width: 300px;
    margin: auto;
    padding: 20%;
}

.link {
    display: block;
    height: 45px;
    width: 250px;
    line-height: 45px;
    text-align: center;
    background: #EEEBD0;
    margin: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #E86252;
    transition: 0.3s;
    border: 3px solid #EE2677;
}

.link:hover {
    border: 3px solid #EE2677;
    background: none;
    color: aliceblue;
    
}